<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="FindAbilitiesUseCase" class="com.bankaya.pokemon.usecase.FindAbilitiesUseCase">
        <constructor-arg name="pokemonAbilitiesGateway" ref="pokemonGatewayWebClient"/>
    </bean>

    <bean id="FindBaseExperienceUseCase" class="com.bankaya.pokemon.usecase.FindBaseExperienceUseCase">
        <constructor-arg name="pokemonAbilitiesGateway" ref="pokemonGatewayWebClient"/>
    </bean>

</beans>